.header {
  padding: 10px;
}

.div {
  text-align: center;
}

.header__logo {
  height: 50px;
}

.desktop {
  display: none;
}

.menu {
  order: 1;
  margin-top: 10px;
}

.menu__checkbox {
  position: absolute;
  left: -9999px;
}

.menu__toggler {
  cursor: pointer;
}

.menu__list {
  display: none;
  background-color: #011e32;
}

.menu__item {
  border-bottom: 1px solid white;
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 990px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}
@media screen and (min-width: 990px) {
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: flex;
    justify-content: space-around;
    background-color: white;
  }
  .menu__item {
    border-bottom: 0;
    color: #011e32;
  }
  .menu__item:hover {
    color: white;
    background-color: #011e32;
  }
  .header {
    padding: 0;
  }
  .header__logo {
    margin: 10px;
    height: 100px;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .div {
    display: flex;
    justify-content: center;
  }
}
.fab {
  text-decoration: none;
  color: white;
  margin: 8px;
  font-size: 1.3rem;
}

.footer {
  background-color: #011e32;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.footer p {
  color: white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 40px;
}
@media screen and (min-width: 990px) {
  .about {
    flex-direction: row;
  }
}

.profile-photo {
  max-width: 70%;
  border-radius: 10px;
}
@media screen and (min-width: 640px) and (max-width: 990px) {
  .profile-photo {
    max-width: 50%;
  }
}
@media screen and (min-width: 990px) {
  .profile-photo {
    max-width: 50%;
    height: 50vh;
  }
}

.about-me {
  background-color: #c01007;
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  font-weight: 300;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-auto-flow: dense;
}
@media screen and (min-width: 990px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.illustration {
  background-color: #011e32;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 990px) {
  .illustration--different {
    grid-column: 2;
  }
}
.illustration__img--different {
  display: inline-block;
  position: relative;
}

.illustration__img {
  max-width: 30%;
}

.description {
  padding: 50px 70px;
}

#table-of-contents {
  background-color: #011e32;
  padding: 30px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .flexbox__article {
    display: flex;
  }
  #table-of-contents {
    width: 40%;
  }
}
#table-of-contents ul {
  padding: 0;
  margin: 0;
}

#table-of-contents li {
  margin: 20px;
  list-style: none;
}

#table-of-contents a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
}
#table-of-contents a:hover {
  text-decoration: underline;
}

.article {
  padding: 30px 50px;
}

.article__heading {
  font-family: "Kalnia", serif;
}

.article__sub-heading {
  padding-left: 20px;
}

.article p,
.article li {
  font-size: 1rem;
  font-weight: 300;
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  line-height: 1.5;
}

.banner {
  background-color: #011e32;
  color: white;
  padding: 20px;
}
@media screen and (min-width: 990px) {
  .banner {
    padding: 80px;
  }
}

.red {
  background-color: #c01007;
}

.banner__header {
  text-align: center;
}

.hero {
  height: 50vh;
  background-image: url(/images/hero2.jpg);
  background-size: cover;
  background-position: center;
}

.hero__heading {
  font-family: "Kalnia", serif;
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px 2px #011e32;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.introduction__text {
  text-align: center;
  padding: 50px;
}
@media screen and (min-width: 990px) {
  .introduction__text {
    max-width: 60%;
    text-align: left;
    padding: 80px 50px;
  }
}

.section {
  padding: 30px 50px 100px 50px;
}

.intro__image .topics {
  background-color: #c01007;
  padding: 30px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  font-family: "Kalnia", serif;
  font-size: 2rem;
}

.heading--left {
  text-align: left;
}

.introduction__illustration {
  width: 100%;
  text-align: center;
}

.introduction__image {
  width: 60%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

@media screen and (min-width: 990px) {
  .nowrap {
    flex-wrap: nowrap;
    align-items: center;
  }
}
.card {
  border-radius: 10px 10px 0 0;
  height: 360px;
  width: 250px;
  margin-bottom: 0px;
  border-radius: 20px;
  background-size: cover;
  border-radius: 20px;
}

.card__content {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
}

.moving {
  background-image: url(/images/moving.png);
}

.housing {
  background-image: url(/images/housing.png);
}

.career {
  background-image: url(/images/career.png);
  background-position: center;
}

.language {
  background-image: url(/images/language.png);
}

.lifestyle {
  background-image: url(/images/lifestyle.png);
}

.card__link {
  text-decoration: none;
  display: block;
  width: 250px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-family: "Kalnia", serif;
  font-size: 1.2rem;
}

@media (hover) {
  .card {
    overflow: hidden;
  }
  .card__content {
    transform: translateY(100%);
    transition: transform 500ms ease;
  }
  .card:hover .card__content {
    transform: translateY(0);
  }
}
.news {
  width: 400px;
  height: 200px;
  background-color: #011e32;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.news__link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
}
.news__link:hover {
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */