@use "defined";

#table-of-contents {
  background-color: defined.$blue;
  padding: 30px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .flexbox__article {
    display: flex;
  }
  #table-of-contents {
    width: 20%;
    height: 100vh;
  }
}
#table-of-contents ul {
  padding: 0;
}
#table-of-contents li {
  margin: 10px;
  list-style-type: none;
}

#table-of-contents a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
}

.article {
  padding: 30px;
}

.article__heading {
  font-family: defined.$heading;
}

.article p {
  font-size: 1.2rem;
}
