@use "defined";

#table-of-contents {
  background-color: defined.$blue;
  padding: 30px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .flexbox__article {
    display: flex;
  }
  #table-of-contents {
    width: 40%;
  }
}
#table-of-contents ul {
  padding: 0;
  margin: 0;
}
#table-of-contents li {
  margin: 20px;
  list-style: none;
}

#table-of-contents a {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}

.article {
  padding: 30px 50px;
}

.article__heading {
  font-family: defined.$heading;
}

.article__sub-heading {
  padding-left: 20px;
}

.article p,
.article li {
  font-size: 1.2rem;
}
