@use "defined";

.header {
  //   position: sticky;
  //   display: flex;
  //   justify-content: space-between;
  padding: 10px;
}

.header__home {
  // order: 2;
}

.div {
  text-align: center;
}
.header__logo {
  height: 50px;
}
.desktop {
  display: none;
}

.menu {
  order: 1;
  margin-top: 10px;
  // width: 50%;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
}

.menu__list {
  display: none;
  background-color: defined.$blue;
}

.menu__item {
  border-bottom: 1px solid white;
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 990px) {
  .menu__checkbox:checked ~ .menu__list {
    display: block;
  }
}

@media screen and (min-width: 990px) {
  .menu__toggler {
    display: none;
  }

  .menu__list {
    display: flex;
    justify-content: space-around;
    background-color: white;
    position: sticky;
  }
  .menu__item {
    border-bottom: 0;
    color: defined.$blue;
    &:hover {
      color: white;
      background-color: defined.$blue;
    }
  }

  .header {
    //   display: flex;
    //   justify-content: space-between;
    padding: 0;
  }
  .header__logo {
    margin: 10px;
    height: 100px;
  }

  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }

  .div {
    display: flex;
    justify-content: center;
  }
}
