@use "defined";
@use "header";
@use "footer";
@use "about";
@use "topic-page";
@use "article";

// Break points:
// Mobile: 640px
// Tablet: 990px
// Desktop: 990px +

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: defined.$text;
  font-weight: 200;
  line-height: 1.5;
}
.banner {
  background-color: defined.$blue;
  color: white;
  padding: 20px;

  @media screen and (min-width: 990px) {
    padding: 80px;
  }
}

.red {
  background-color: defined.$red;
}
.banner__header {
  text-align: center;
}

.hero {
  height: 50vh;
  background-image: url(/images/hero2.jpg);
  background-size: cover;
  background-position: center;
}
.hero__heading {
  font-family: defined.$heading;
  color: white;
  font-size: 3rem;
  text-shadow: 3px 3px 2px defined.$blue;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.introduction__text {
  text-align: center;
  padding: 50px;

  @media screen and (min-width: 990px) {
    max-width: 60%;
    text-align: left;
    padding: 80px 50px;
  }
}

.section {
  padding: 30px 50px 100px 50px;
  width: 100%;
}

.intro__image .topics {
  background-color: defined.$red;
  padding: 30px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  font-family: defined.$heading;
  font-size: 2rem;
}
.heading--left {
  text-align: left;
}

.introduction__illustration {
  width: 100%;
  text-align: center;
}

.introduction__image {
  width: 60%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

@media screen and (min-width: 990px) {
  .nowrap {
    flex-wrap: nowrap;
    align-items: center;
  }
}
.card {
  border-radius: 10px 10px 0 0;
  height: 360px;
  width: 250px;
  margin-bottom: 0px;
  border-radius: 20px;
  background-size: cover;
  border-radius: 20px;
}

.card__content {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  height: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
}
.moving {
  background-image: url(/images/moving.png);
}
.housing {
  background-image: url(/images/housing.png);
}

.career {
  background-image: url(/images/career.png);
  background-position: center;
}
.language {
  background-image: url(/images/language.png);
}
.lifestyle {
  background-image: url(/images/lifestyle.png);
}
.card__link {
  text-decoration: none;
  display: block;
  width: 250px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  font-family: defined.$heading;
  font-size: 1.2rem;
}

@media (hover) {
  .card {
    overflow: hidden;
  }
  .card__content {
    transform: translateY(100%);
    transition: transform 500ms ease;
  }

  .card:hover .card__content {
    transform: translateY(0);
  }
}

.news {
  width: calc(100%-30px / 3);
  height: 200px;
  background-color: defined.$blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.news__link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  &:hover {
    font-weight: 600;
  }
}
