@use "defined";
@use "header";
@use "footer";
@use "about";
@use "topic-page";

// Break points:
// Mobile: 640px
// Tablet: 990px
// Desktop: 990px +

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
}
.banner {
  background-color: defined.$blue;
  color: white;
  padding: 20px;

  @media screen and (min-width: 990px) {
    padding: 80px;
  }
}

.red {
  background-color: defined.$red;
}
.banner__header {
  text-align: center;
}

.hero {
  height: 50vh;
  background-image: url(/images/hero-image.jpg);
  background-size: cover;
  background-position: center;
}

.intro {
  margin: 50px;
  text-align: center;

  @media screen and (min-width: 900px) {
    max-width: 70%;
    text-align: left;
  }
}

.topics {
  background-color: defined.$red;
}
.card__image {
  border-radius: 20px;
  height: 200px;
  width: 150px;
}
