@use "defined";
@use "header";
@use "footer";
@use "about";

// Break points:
// Mobile: 640px
// Tablet: 990px
// Desktop: 990px +

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  margin: 0;
}
.banner {
  background-color: defined.$blue;
  color: white;
  padding: 20px;
  margin-bottom: 30px;

  @media screen and (min-width: 990px) {
    padding: 80px;
  }
}

.red {
  background-color: defined.$red;
}
.banner__header {
  text-align: center;
}
