<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Everything Norway</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalnia:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <!-- HEADER START -->
    <header class="header">
      <div class="div">
        <a class="header__home" href="/">
          <img
            class="header__logo mobile"
            src="/images/logo-mobile.png"
            alt="logo"
          />
          <img class="header__logo desktop" src="/images/logo.png" alt="logo" />
        </a>
      </div>
      <!-- MENU START -->
      <nav class="menu">
        <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
        <label for="menu-checkbox" class="menu__toggler">☰</label>

        <div class="menu__list">
          <a class="menu__item" href="/moving">Moving</a>
          <a class="menu__item" href="/career">Career</a>
          <a class="menu__item" href="/housing">Housing</a>
          <a class="menu__item" href="/language">Language</a>
          <a class="menu__item" href="/lifestyle">Lifestyle</a>
          <a class="menu__item" href="/about">About</a>
        </div>
      </nav>
      <!-- MENU END -->
    </header>
    <!-- HEADER END -->

    {{ content | safe }}

    <footer class="footer">
      <div class="social">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-tiktok"></a>
      </div>
      <p>© 2023 Everything Norway</p>
    </footer>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Create the unordered list
      var toc = "<ul>";

      document
        .querySelectorAll("article h1, article h2, article h3")
        .forEach(function (element) {
          var ref = element.id;

          // Add list item using the heading's id as the text
          toc += "<li><a href='#" + ref + "'>" + ref + "</a></li>";
        });

      // Close the unordered list
      toc += "</ul>";

      // Now insert the HTML into the #table-of-contents div
      document.getElementById("table-of-contents").innerHTML = toc;
    });
  </script>
</html>
