<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Everything Norway</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <!-- HEADER START -->
    <header class="header">
      <div class="div">
        <a class="header__home" href="/">
          <img
            class="header__logo mobile"
            src="/images/logo-mobile.png"
            alt="logo"
          />
          <img class="header__logo desktop" src="/images/logo.png" alt="logo" />
        </a>
      </div>
      <!-- MENU START -->
      <nav class="menu">
        <input type="checkbox" class="menu__checkbox" id="menu-checkbox" />
        <label for="menu-checkbox" class="menu__toggler">☰</label>

        <div class="menu__list">
          <a class="menu__item" href="/moving">Moving</a>
          <a class="menu__item" href="/career">Career</a>
          <a class="menu__item" href="/housing">Housing</a>
          <a class="menu__item" href="/language">Language</a>
          <a class="menu__item" href="/lifestyle">Lifestyle</a>
          <a class="menu__item" href="/about">About</a>
        </div>
      </nav>
      <!-- MENU END -->
    </header>
    <!-- HEADER END -->

    {{ content | safe }}

    <footer class="footer">
      <div class="social">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-tiktok"></a>
      </div>
      <p>© 2023 Everything Norway</p>
    </footer>
  </body>
</html>
